
body {
    background: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;    
}

h1{
    text-align: center;
}

nav{
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 10px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

img {
    width: 200px;
}

label{
    justify-content: center;
}
